.side
  .side-top
    .side-top__items
      .side-name
        こんちゃん
      .side-links
        = link_to "#", class: "side-links__btn" do
          = icon('fas','edit')
        = link_to "#", class: "side-links__btn" do
          = icon('fas', 'cog')
  .side-bottom
    .side-bottom__groups
      .group
      TECH::EXPERT
      .text
      Yeah!!
    .side-bottom__groups
      .group
      TECH::EXPERT
      .text
      Yeah!!